@font-face {
  font-family: 'Ubuntu Regular';
  src: url(../fonts/ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url(../fonts/ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: 'Ubuntu Italic';
  src: url(../fonts/ubuntu/Ubuntu-Italic.ttf);
}

@font-face {
  font-family: 'Orbitron Regular';
  src: url(../fonts/orbitron/Orbitron-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu Regular', sans-serif;
}

#container {
    position: relative;
    height: 100vh;
    background-color: black;
  }
  
  .planet {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s ease;
    transform-origin: center center;
  }

  .planet:hover img {
    filter: blur(2px);
  }

  .planet:hover::after {
    content: attr(data-name);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  #sun {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../images/sun.png");
    background-size: contain;
    background-position: center center;
  }
  
  #mercury {
    top: 28%;
    left: 44%;
    background-image: url("../images/mercury.png");
  }
  
  #venus {
    top: 20%;
    left: 33%;
    background-image: url("../images/venus.png");
  }
  
  #earth {
    top: 10%;
    left: 20%;
    background-image: url("../images/earth.png");
  }
  
  #mars {
    top: 5%;
    left: 5%;
    background-image: url("../images/mars.png");
  }
  
  #jupiter {
    top: 30%;
    left: 10%;
    background-image: url("../images/jupiter.png");
  }
  
  #saturn {
    top: 70%;
    left: 20%;
    width: 135px;
    background-image: url("../images/saturn.jpg");
  }
  
  #uranus {
    top: 90%;
    left: 50%;
    background-image: url("../images/uranus.png");

  }
  
  #neptune {
    top: 80%;
    left: 80%;
    background-image: url("../images/neptune.png");
  }
  
  .planet:hover {
    box-shadow: 0px 0px 20px white;
  }
  
  