.background {
    background-image: url("../images/saturn-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}

.saturn {
    padding-top: 30px;
    font-family: 'Ubuntu Regular', sans-serif;
}

.saturn-mainp {
    max-width: 700px;
    max-height: 400px;
    overflow-y: auto;
    margin: auto;
    margin-bottom: 15px;
    display: block;
    background-color: black;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 15px 1px #000000; 
    box-shadow: 5px 5px 15px 1px #000000;
}

.saturn-mainp p {
    
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: white;

}

.saturn-mainp h3 {
    font-size: 20px;
    text-align: center;    
    padding-right: 10px;
    padding-bottom: 10px;
    height: 100%;
    color: white;
    font-size: 30px;
}

.saturn-title {
    max-width: 400px;
    max-height: 150px;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 15px;
    display: block;
    overflow: auto;
    text-align: center;
    align-items: center;
    background-color: black;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 15px 1px #000000; 
    box-shadow: 5px 5px 15px 1px #000000;
}

.saturn-title h1 {
    font-size: 40px;
    padding-bottom: 5px;
    color: white;
}


.saturn-image img {
    max-height: 900px;
    max-width: 900px;
    float: left;
    padding-left: 10%;
    margin-right: 100px;
    margin-top: 75px;
    margin-bottom: 25px;

}

